*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: #212121;
    text-decoration: none;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.2%;
    margin-left: 10vh;
    margin-right: 10vh;
}

.logo-container h1{
    font-weight: 600;
    color: #f261b4;
    font-size: 1.8em;
}
.login a{
    color: #f261b4;
}
.Sign-Up a{
    color: #ffff;
}
.nav-links{
    margin-left: 25vh;
}

.nav-links a{
    text-decoration: none;
    font-size: 17px;
    margin: 23px;
    cursor: pointer;
}


.register-links button{
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: -60vh;
}

.login{
    font-size: 15px;
    margin-right: 30px;
    color: #f261b4;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
}

.Sign-Up{
    font-size: 15px;
    margin-right: 30px;
    color: white;
    background-color: #f261b4;
    border: none;
    cursor: pointer;
    z-index: 2;
    border-radius: 0.3rem;
}

.bg-image img{
    position: absolute;
    right: 0;
    height: 85vh;
    margin-top: -13.5vh;
    z-index: -1;

}

.side-image img{
    padding-top: 38px;
    height: 32vh;
    position: absolute;
    left: 0;
}

.body-text{
    margin-top: 31vh;
    padding-left: 10vh;
}

.body-text h3{
    font-size: 20px;
    color: #f261b4;    
}

.body-text h1{
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;

}

.body-text p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.85;
}

.search-link input{
    margin-top: 180px;
    margin-left: 6vh;
    border: white;
    padding-right: 37vh;
    font-size: 13px;
}

.search-link input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }

.search{
  background-color: #f261b4;  
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.job-cate{
    background-color:#f4f4f4;
    height: 55vh;
}

.jobs h1{
    margin-top: 19vh;
    margin-left: 10vh;
}

.job-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

.job-card1{
    margin: 2vh;
    background-color: white;
    height: 36vh;
    width: 20vw;
}

.job-card1  h6{
    padding-top: 19.5vh;
    text-align: center;
    font-size: 20px;
    color: rgb(145, 145, 145);
}

.job-card1 p{
    text-align: center;
    padding-top: 16px;
    color: rgb(139, 138, 138);
}

.job-card2{
    margin: 2vh;
    background-color: white;
    width: 20vw;
}

.job-card2  h6{
    padding-top: 19.5vh;
    text-align: center;
    font-size: 20px;
    color: rgb(145, 145, 145);
}

.job-card2 p{
    text-align: center;
    padding-top: 16px;
    color: rgb(139, 138, 138);
}

.job-card3{
    margin: 2vh;
    background-color: white;
    width: 20vw;
}

.job-card3 h6{
    padding-top: 19.5vh;
    text-align: center;
    font-size: 20px;
    color: rgb(145, 145, 145);
}

.job-card3 p{
    text-align: center;
    padding-top: 16px;
    color: rgb(139, 138, 138);
}

.job-category h1{
    margin-top: 19vh;
    margin-left: 10vh;
}

.word-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 20vh;
}

.body-image img{
    max-height: 46vh;
    max-width: 67vw;
    padding-left: 20vh;
}

.body-word{
    margin-top: 1rem;
    margin-right: 4.5rem;
}

.body-word h1{
    font-size: 40px;
    padding-bottom: 4.5vh;
    font-family: 'Open Sans', sans-serif;
}

.body-word p{
    line-height: 2;
    font-size: 15px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10rem;
    margin-bottom: 20px;
}

.footer-logo {
    padding-left: 30vh;
}

.social-h{
    margin-left: -7vh;
}

.social-h a i{
    color: black;
    font-size: 25px;
    margin: 1vh;
    padding-top: 4vh;
}

.list-nav ul li {
    list-style: none;
    font-size: 17px;
    line-height: 1.8;
}

.list-careers ul li {
    list-style: none;
    font-size: 17px;
    line-height: 1.8;
}

.sign-in{
    padding-right: 30vh;
}

.sign-in ul li {
    list-style: none;
    font-size: 17px;
    line-height: 1.8;
}

/* Styling for the job listing cards */
.job_con{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    column-gap: 50px;
    grid-row-gap: 40px;
    max-width: 900px;
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: 60px;
}
.job_child{
    position: relative;
    padding: 1em;
    width: 100%;
    height: 20em;
    grid-row-end: span 4;
    background-color: #fff;
    box-shadow: 0 0 106px -59px #adabad;
}
.job_title {
    font-weight: 700;
    line-height: 1.8;
    margin: 1em 0;
    background-color: transparent;
}
.job_details {
    position: absolute;
    top: 40%;
    left: 1em;
}
.job_location {
    color: #707070;
}
.job_time {
    font-size: .8em;
    color: #f261b4;
    font-weight: 700;
}
.job_company {
    position: absolute;
    top: 60%;
}
.job_icon {
    width: 2em;
}
a {
    text-decoration: none;
}
a, button {
    outline: none;
}
.job_apply {
    position: absolute;
    bottom: 2em;
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 3em;
    border: none;
    color: #fff;
    background-color: #16c484;
    cursor: pointer;
}