*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #ffff;
  max-width: 100%;
}
/*footer*/
li{
 list-style: none;
}
a{
  text-decoration: none;
  color: #212121;
}
.link{
  padding: 3rem 1rem;
}
.footer{
  display: flex;
  margin: auto 4rem;
  flex-direction: rows;
  margin-bottom: 5rem;
  background: #ffff;
}
.social{
  display: flex;
  align-content: center;
}
.list{
  padding:0.5rem;
}
.first-column{
  padding: 5rem 7rem;
}
.first-column p{
  color: #f261b4;
  padding-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
}
.second-column{
  padding: 3rem 6rem;
  display: block;
}
.third-column{
  padding: 3rem 6rem;
  display: block;
}
.fourt-column{
  padding: 3rem 6rem;
  display: block;
}
.what-we-do{
  display: flex;
  flex-direction: row;
  margin: 4rem;
}
.pics{
  margin: 2rem
}
.real-pics{
  padding: 1rem;
}
.paragraph{
  margin: 3rem;
}
.paragraph h1{
  padding-bottom: 2rem;
  font-weight: bold;
  font-size: 2.5rem;
}
.paragraph p{
  line-height: 1.5rem;
  padding:auto 5rem;
}
@media only screen and (max-width:768px ) and(min-width:400px) {
  .what-we-do{
    display:grid;
    grid-template-rows:50% 50%;
  }
  .img{
    width: 380px;
    height:270px ;
    margin:1rem 1rem;
  }
  what-we-do p{
    font-size: 0.5rem;
    text-align: center;
    font-weight: medium;
  }

  .footer{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
  }
}